.searchContainer {
  margin-bottom: var(--spacing-md);
}

.list {
  display: grid;
  gap: var(--spacing-md);
  grid-template-columns: 1fr;
}

@media (min-width: 768px) {
  .list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1280px) {
  .list {
    grid-template-columns: repeat(3, 1fr);
  }
}

